.enter{
  	width: 500px;
  	/*height: 350px;*/
  	background: white;
  	position: absolute;
  	right: 50px;
  	top: 190px;

  } 
  .enter h4{
  	float: left;
  	margin-left: 40px;
  	margin-top: 30px;
  }
  .enter a{
  	float: left;
  	 text-decoration: none;
  	 margin-top:-16px;
  	 margin-left:380px;
  }
  .enter a:hover{
  	text-decoration: underline;
  }
  .unpaw{
 
  	width: 80px;
  	height: 20px;
  	margin-left: 380px;
  	margin-top: 30px;
  	color: blue;
  }
.unpaw:hover{
	text-decoration: underline;
	cursor: pointer;
}
.elseenter ul{
	margin-top: 25px;
	list-style: none;
}
.elseenter li{
	float:left;
	margin-left: 50px;
}
.enter li img{
	width: 23px;
	border-radius:100px ;
}
.enter li img:hover{
	border: 1px solid blue;
	cursor: pointer;
}
 .elseenter{
  	width: 500px;
  	height: 30px;
  }
/*=====================效果==================*/
.judge{
	margin-top:20px ;
  	margin-left: 40px;
  	width: 220px;
  	height: 30px;
  	border: #FF1493 solid 1px;
  	margin-bottom: 10px;
  	display: none;
  line-height: 30px;
  	
  	
}


